.container {
	display: flex;
	flex-direction: column;
}

.main_section {
	display: flex;
	width: 100%;
}

.poster {
	width: 30%;
}

.img {
	width: 100%;
}

.info {
	width: 50%;
	padding-left: 15px;
}

.navigate {
	display: flex;
}

.wrapper {
	display: flex;
	width: 100%;
	margin-bottom: 10px;
}

.wrapper:nth-child(6) {
	margin-bottom: 30px;
}

.wrapper h3 {
	font-size: 30px;
}

.actors {
	width: 20%;
}

.item {
	width: 50%;
	text-align: left;
}

.block {
	display: flex;
	justify-content: center;
}

.sequels {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cards {
	display: flex;
}
