.container {
	display: flex;
	flex-direction: column;
}

.main_section {
	display: flex;
	width: 100%;
}

.poster {
	width: 30%;
}

.img {
	width: 100%;
}

.info {
	width: 50%;
}

.navigate {
	display: flex;
}

.info_year {
	display: flex;
	width: 100%;
}

.actors {
	width: 20%;
}
